{{#section "employment"}}
<section id="employment">
  {{#> header-employment }}
  {{> header-simple _title="EMPLOYMENT" _section="employment" }}
  {{/header-employment}}
  {{#each r.employment.history}}
  {{#> body-employment }}
  <div class="template-body">
    <div class="inline">
      <h3><b>{{ position }}</b>, <em>{{ employer }}</em></h3>
      <span class="tenure">{{dateRange . 'MMM YYYY'}}</span>
    </div>

    <h3>
      {{#if url }}
      <a href="{{{ url }}}">{{ employer }}</a>
      {{else}}

      {{/if}}
    </h3>

    {{#if location}}
    <span class="location">{{location}}</span>
    {{/if}}
    {{{ summary }}}
    {{> highlights }}
    {{#if keywords}}<span class="keywords">{{#each keywords}}{{{ . }}} {{/each}}</span>{{/if}}
  </div>
  {{/body-employment}}
  {{/each}}
</section>
{{/section}}